@font-face{
	font-family: curls;
	src: url(curls.ttf);
}

@font-face{
	font-family: simple;
	src: url(GeosansLight.ttf);
}

body{
	font-family: simple;
	padding: 0;
	margin: 0;
}

/*loading screen*/

.loading_class{
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	background-color: black;
	text-align: center;
	position: fixed;
	width: 100vw;
	z-index: 100;
	color: white;
	font-size: 1em;
	top: 0;
	left: 0;
}

.laoder_bean{
	width: 5vw;
	opacity: 1;
	animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.serv_table_moblie{
	display: none;
}

.service_class_moblie{
	display: none;
}



#backgroung_full{
	position: absolute;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
}

#backgroung_full img{
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

#backgroung_full img.active{
	z-index: 3;
}

#loading_background{
	position: absolute;
	top: 45%;
	left: 45%;
}


.backgroundfront{
	position: absolute;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#inspage{
	background-image: url("background2.svg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 100%;
	height: 100vh;
	max-height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
}

#sign_up{
	background-image: url("background.svg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     width: 100vw;
    max-width: 100%;
	height: 100vh;
	max-height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
}

.beans{
	background-image: url("background_plain.svg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 100%;
	height: 100vh;
	max-height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
}

h1{
	font-family: curls;
	color: rgba(0,0,0,0.7);
	text-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	font-size: 6em;
	margin-bottom: 8%;
	margin-left: 20%;
	margin-top: 20%;
	color: white;
}

h2{
	
	z-index: 10;
	position: relative;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	font-size: 5em;
	color: #EE2C7B;
	text-align: center;
	padding: 3%;
}


div.buttons, input, #submit_login, #email, #password, .submit_signup, #name, #password-confirm{
	padding-top: 3%; 
	padding-bottom: 3%;
	font-size: 1.1em;
	cursor: pointer;
	background-color: white;
	border-radius: 30px;
	box-shadow: 1px 2px 7px rgba(100,100,100,0.2);
	margin-bottom: 3%;
	border: 1px solid white;
	text-align: center;
	width: 100%;
	color: black;

}


input:focus{
	border: none;
}

a{
	text-decoration: none;
	color: grey;
	font-size: 1.1em;
	position: relative;
	z-index: 5;
}

a:hover{
	color: black;
	text-decoration: none;
}

#form_outline{
	text-align: center;
	height: 60vh;
	margin-top: 20vh; 
}

#form_outline_login{
	text-align: center;
	height: 70vh;
	margin-top: 15vh; 
}

#form_outline_signup{
	text-align: center;
	height: 70vh;
	margin-top: 8vh; 
}

#form_outline_newJelly{
	text-align: center;
	height: 30vh;
	margin-top: 75vh; 
}

.email_signup{
	margin-left: 25%;
}

.pass_signup{
	margin-left: 45%;
}

.passcon_signup{
	margin-left: 55%;
}

.submit_signup{
	margin-left: 55%;
}


.button_images{
	width: 2.5vw;
	margin-right: 10%;
}

.nav{
	background: none;
	text-align: center;
	width: 8%;
	position: fixed;
	z-index: 10;
}

.links{
	height: 10vh;
	width: 100%;
	margin-top: 7vh;
	border-bottom: 1px solid rgba(100,100,100,0.2);
	color: rgba(0,0,0,0.5);
}



#sideNav{
	position: fixed;
	background-color: white;
	height: 100vh;
	max-height: 100%;
	box-shadow: 2px 0px 10px 2px rgba(100,100,100,0.2);
}

#graph_div{
	background-color: white;
	height: 45vh;
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
}

.graphs{
	height: 35vh;
	width: 80%;
	margin-left: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.list_div{
	background-color: white;
	text-align: center;
	padding: 2%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	padding-bottom: 7%;
}

#comments-div{
	background-color: white;
	height: 36vh;
	padding: 2%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.bean_logo{
	margin-top: -6vh;
	width: 100%;
}

.card{
	margin-bottom: 5%;
	height: 65vh;
	cursor: pointer;
	padding: 2%;
}

.row .col-lg-10{
	margin-left: 12%;
}

.curly{
	font-family: curls;
}

.bean_pic_mang{
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

#bean_homepage{
	text-align: center;
	position: fixed;
	margin-left: 7%;
}

#big_bean_homepage{
	width: 100%;
	position: relative;
	z-index: 2;
}

h4{
	font-weight: bold;
	font-size: 0.9em;
}

#lables{
	text-align: center;
}

.buttons{
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	padding: 3%;
	padding-right: 5%;
	padding-left: 5%;
	border-radius: 30px;
	cursor: pointer;
	color: black;
}

.buttons:hover{
	color: grey;
	transition: color 2s ease-out;
}

.bean_background{
	height: 100vh;
	max-height: 100%;
	width: 100vw;
	max-width: 100%;
	position: relative;
	z-index: 3;
	margin-top: -70%;
}

.front_bean{
	height: 70vh;
	margin-top: 2%;
	position: relative;
	z-index: 3;
}

.front_bean_mang{
	height: 20vh;
	margin-top: 2%;
	position: relative;
	z-index: 3;
}

.front_bean_shaddow{
	width: 65%;
	position: relative;
	z-index: 2;
	margin-top: -85%;
	opacity: 0.3;
}

.new_bean_front{
	width: 80%;
	position: relative;
	z-index: 3;
	margin-top: 10%;
}

.new_bean_front_shaddow{
	position: relative;
	z-index: 2;
	margin-top: -130%;
	width: 80%;
	opacity: 0.3;
	margin-bottom: 5%;
}

.color_bean{
	border-radius: 50%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	width: 4vw;
	height: 4vw;
	margin-bottom: 30%;
	cursor: pointer;
}

.type_bean{
	border-radius: 50%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	width: 4vw;
	height: 4vw;
	margin-bottom: 30%;
	cursor: pointer;
}

.point_active{
	border: 2px solid #58585B;
}

#pink{
	background: #e30482; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e30482 0%, #d60470 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #e30482 0%,#d60470 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #e30482 0%,#d60470 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#orange{
	background: #df8604; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #df8604 0%, #d17404 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #df8604 0%,#d17404 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #df8604 0%,#d17404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#green{
	background: #69df04; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #69df04 0%, #60c904 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #69df04 0%,#60c904 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #69df04 0%,#60c904 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#blue{
	background: #04a2db; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #04a2db 0%, #008cc4 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #04a2db 0%,#008cc4 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #04a2db 0%,#008cc4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#hipster{
	background-image: url("/images/hipster_bean.svg"); /* The image used */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
 	opacity: 0.8;
}

#normal{
	background-image: url("/images/normal_bean.svg"); /* The image used */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
 	opacity: 0.8;
}

.choices{
	margin-left: 15%;
	margin-top: 7%;
}

#bean_type_choices{
	margin-top: 13%;
	margin-right: 5%;
}

.modal-content{
	background: none;
	border: none;
	text-align: center;
	position: relative;
	z-index: 5;
	margin-top: 20%;
}

.dates{
	width: 27%;
	padding-left: 2%;
	margin-right: 5%;
}

.personal_form{
	padding-left: 20%;
	padding-right: 20%;
	position: relative;
	z-index: 5;
}



.link{
	text-decoration: none;
	color: rgba(255,255,255,0.7);
}

.link:hover{
	text-decoration: none;
	color: rgba(255,255,255,0.2);
}

.progress-bar{
	background: none;
	background: #8cc63e; /* Old browsers */
	background: -moz-linear-gradient(left, #8cc63e 1%, #27a9e1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #8cc63e 1%,#27a9e1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #8cc63e 1%,#27a9e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.update_body{
	background-color: white;
	padding: 2%;
}

.modal-content{
	width: 80vw;
	margin-left: 20%;
}

.modal-dialog.modal-lg{
	margin-left: 0;
	margin: 0;
}

.target_progress{
	margin-top: -58%;
	font-size: 0.9em;
}

.d_charts{
	margin-top: -25%;
}

.makeGrey{
	color: rgba(0,0,0,0.3);
}

.header_management{
	position: relative;
	z-index: 2;
	width: 50%;
	margin-left: 26%;
	margin-top: -14%;
	margin-bottom: -10%;
}

.user_name_mang{
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
}

.user_jellyname_mang{
	text-align: center;
	margin-top: 1.5%;
	font-style: italic; 
}

.phase_name_mang{
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
	margin-bottom: -2%;
}

.phase_mang {
	text-align: center;
}

.centered{
	text-align: center;
}

.button_mang{
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	font-size: 1.1em;
	cursor: pointer;
	background-color: rgba(234, 230, 220, 0.3);
	border-radius: 30px;
	box-shadow: 1px 2px 7px rgba(100,100,100,0.2);
	text-align: center;
	color: black;
}

.man_charts{
	padding: 25%;
	margin-top: -12%;
}

.mang_tarts{
	margin-bottom: 15%;
}

.lables_mang{
	margin-top: 10%;
	font-size: 0.7em;
}

.teamp{
	height: 3vh;
	text-align: center;
	opacity: 0.5;
	margin-left: 17%;
}

.teamp_home{
	height: 6vh;
	text-align: center;
	opacity: 0.5;
}

.jellyName_homepage{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: -1%;
}

.comments_list{
	list-style: none;
}

.comment_words{
	margin-left: 5%;
}

.admin_icon{
	width: 6vw;
	float: left;
	margin-top: -2.5%;
}

.admin_headin{
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 5%;
}

.admin_days{
	font-size: 0.9em;
	color: rgba(0,0,0,0.7);
	font-style: italic;
}

.headings_other{
	text-align: center;
	font-size: 2.1em;
	font-weight: bold;
	text-transform: uppercase;
}

.percent_time{
	margin-top: -55%;
}

.percent_time_mang{
	margin-top: -55%;
	font-size: 0.8em;
}

.goalname_time{
	margin-top: 32%;
}

.heading_form{
	font-family: curls;
	font-size: 5em;
	color: white;
	margin-top: -5%;
	position: relative;
	z-index: 5;
}

.bolder{
	font-weight: bold;
}